/* sub01 */
#sub-page-container{width: 100%;max-width:750px;margin: 0 auto;overflow:hidden;}
#sub-page-container img{width: 100%;display:block;}
#sub-page-container .sub0101 .img02{margin:7vh 0 5vh;}
#sub-page-container .sub0102 .img02{margin:3vh 0 1vh;}
#sub-page-container .sub0103 .img01{margin:10vh 0 3vh;}
#sub-page-container .sub0103 .img03{margin:7vh 0 5vh;}
#sub-page-container .sub0105 .img01{margin-top:8vh;}
#sub-page-container .sub0105 .img04{margin:7vh 0 10vh;}
#sub-page-container .sub0106 .img01{margin:12vh 0 5vh;}
#sub-page-container .sub0106 .img03{margin:4vh 0 5vh;}
#sub-page-container .sub0106 .img10{margin-top:12vh;}
#sub-page-container .sub0101 .main_img{position:relative;border-top:3px solid #555;display: flex;justify-content:flex-end;}
#sub-page-container .sub0101 .main_img .img_tit{width:7rem;position:absolute;top:0; left:3rem;z-index: 9;}
#sub-page-container .sub0101 .main_img .img_olleh{width:42.5rem;}
.interview{position:relative;padding-bottom:16vh;margin-top:5vh;}
.interview_bg {position: absolute;top:2.5vh;left:0;height:100%;width:173% !important;}
.interview_bg02 {position: absolute;top:2.5vh;right:0;height:100%;width:173% !important;}
.swiper-pagination-bullet{width:var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px)); height:var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));}
.swiper-pagination-bullet-active{background:#000;}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 var(--swiper-pagination-bullet-horizontal-gap,5px);}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 6vh;}

/* sub02 */
#sub-page-container .sub0201 .img01{margin:7vh 0;}
#sub-page-container .sub0201 .img03{margin:6vh 0 7vh;}
#sub-page-container .sub0202 .img02{margin:4vh 0 8vh;}
#sub-page-container .sub0203 .img01{margin:5vh 0;}
#sub-page-container .sub0203 .img03{margin:6vh 0;}
#sub-page-container .sub0204 .img02{margin:6vh 0 4vh;}
#sub-page-container .sub0204 .img03{margin-bottom:4vh;}
#sub-page-container .sub0204 .img04{margin-bottom:10vh;}
.swiper-slide img {display: block;width: 100%;height: 100%;object-fit: cover;}
.jeju_course .swiper-slide:last-child{margin-right:0 !important;}
.jeju_course .swiper-slide {width:38rem;height:37vh;border-radius:7px;overflow:hidden;}
.jeju_course .swiper-slide {text-align: center;font-size: 18px;background: #fff;}
